{% extends 'layout-bootstrap.html' %}
{% block title %}More Stylish{% endblock %}
{% block head %}
{{ super() }}
<style>
  #content {
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }
</style>
{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Awesome Hello world</h1>
    <p>♚♚히어로즈 오브 더 스☆톰♚♚가입시$$전원 카드팩☜☜뒷면100%증정※ ♜월드오브 워크래프트♜펫 무료증정￥ 특정조건 §§디아블로3§§★공허의유산★초상화획득기회@@@ 즉시이동 지금 바로 시작하세요!<br><a href="http://kr.battle.net/heroes/ko/">http://kr.battle.net/heroes/ko/</a></p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://upload2.inven.co.kr/upload/2016/01/06/bbs/i11957147431.jpg?width=100%" alt="...">
      <div class="caption">
	<h3>고오급 레스토랑</h3>
	<p>굳이 롤을 앞지를 이유가 있나요?? 충분히 히오스는 매력적인 게임이고 재미있는 게임인데요. 해외쪽 반응도 좋고 우리나라도 뭐 10위권에서 놀고 있으니 나쁜편은 아니고요. 인게임 속에서 매너는 롤이랑은 비교도 안되기 때문에 멘탈 안깨지고 하기도 좋고요. 굳이 뭐 비교하자면 히오스는 고급레스토랑 느낌이면 롤은 분식집같은 느낌이죠. 추구하는 바가 다른거 같습니다.</p>
	<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>


  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://i2.ruliweb.com/img/16/07/21/1560c32881a46c91a.jpeg" alt="...">
      <div class="caption">
	<h3>자라나라 머리머리</h3>
	<p>당신은 부조화의 구슬에 맞았습니다.
	  30초 안에 멘션으로 빗나가라 구슬구슬을 치지 않으면
	  오늘 하루종일 겐트위한과 같은편이 됩니다.
	  아직 늦지 않았습니다.
	30... 29... 28....</p>
	<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://images.hkn24.com/news/photo/201103/69187_61029_354.jpg" alt="...">
      <div class="caption">
	<h3>쌩 CSS/JS 쓰다가 부트스트랩을 쓰고난 느낌</h3>
	<p>항암효과 핵오지구요</p>
	<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>


<!-- Standard button -->
<button type="button" class="btn btn-default">Default</button>

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-primary">Primary</button>

<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-success">Success</button>

<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-info">Info</button>

<!-- Indicates caution should be taken with this action -->
<button type="button" class="btn btn-warning">Warning</button>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn-danger">Danger</button>

<!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
<button type="button" class="btn btn-link">Link</button>
{% endblock %}

{% block footer %}
<hr>
{{ super() }}
{% endblock %}
